<template functional>

    <header class="navbar">

        <section class="navbar-section">
            <a href="https://vuejs.org" class="navbar-brand mr-2">Vue.js</a>
            <router-link v-bind:to="{name: 'home'}" class="btn btn-link" exact>Home</router-link>
            <router-link v-bind:to="{name: 'users'}" class="btn btn-link">Users</router-link>            
            <!-- <a href="#" class="btn btn-link">Home</a>
            <a href="#" class="btn btn-link">Users</a> -->
        </section>

    </header>

</template>