<template>
    <div>
        <h2>User edit page</h2>

        <div class="form-group col-3">
            <label class="form-label">Name and Surname</label>
            <input type="text" class="form-input" v-bind:value="user.name" v-on:change="updateUserName({
                userId: user.id,
                newValue: $event.target.value,
            })">
        </div>

        <div id='#user-age' class="form-group col-3">
            <label class="form-label">Age</label>
            <input type="number" class="form-input" v-bind:value="user.age" v-on:change="updateUserAge({
                userId: user.id,
                newValue: $event.target.value,
            })">
        </div>

        <div id='#user-gender' class="form-group col-3">
            <label class="form-label">Gender</label>
            <select class="form-select" v-on:change="updateUserGender({
                userId: user.id,
                newValue: $event.target.value
            })">
                <option value="male" v-bind:selected="user.gender === 'male'">Male</option>
                <option value="female" v-bind:selected="user.gender === 'female'">Female</option>
            </select>    
        </div>

        <button class="btn btn-primary" v-on:click="backToUsers">
            Back to users list
        </button>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
        name: "UserEdit",
        props: ['id'],
        computed: {
            user() {
                return this.$store.getters.user(Number(this.id));
            },
        },
        methods: {
            ...mapMutations(['updateUserAge', 'updateUserName', 'updateUserGender']),
            backToUsers() {
                this.$router.push({
                    name: 'users',
                    // query: {hello: 'witam'}, // adding query to our new route
                });
            }
        },
        // beforeRouteEnter(to, from, next) {
        //     // console.log(from);
        //     // 'this' reference is not available here! 
        //     // this method will get called when some route will try to render this component, before its rendered
        //     if (window.localStorage.getItem('token') ) {
        //         next();
        //     } else {
        //         next({
        //             name: 'login'
        //         });
        //     }
        // }   
    }
</script>