<template>

    <div>
        <div class="form-group col-3">
            <label class="form-label">Gender</label>
            <select class="form-select" v-model="gender">
                <option value="">All</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <table class="table table-striped table-hover" v-bind:class="{'loading': isLoading}">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name and Surname</th>
                    <th>Age</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <UserItem v-for="(user, index) in usersData"
                v-bind:user="user"
                v-bind:index="index"
                v-bind:key="user.id"
                />
            </tbody>
        </table>

        <ol>
            <li v-for="user in usersData" v-bind:key="user.id">{{ user.name }} - {{ user.age }}</li>
        </ol>
    </div>
    
</template>

<script>
    import UserItem from './UserItem'
    import {mapState, mapGetters} from 'vuex'

    export default {
        name: "UserList",
        data() {
            return {
                gender: "",
                isLoading: true,
            }
        },
        computed: {
            usersData() {
                if (this.gender === 'female') {
                    // return this.$store.getters.females;
                    return this.females; // because we used mapGetters(['female','male']), it put all the getters data in this object's computed properties,
                                        // so its easly accessed by this.female instead of this.$store.getters.
                } else if (this.gender === 'male') {
                    // return this.$store.getters.males;
                    return this.males; // same as above
                } else {
                    return this.users;  // because we used mapState(['users']) vuex injected here, in computed properties 'users' data from store, so its
                                        // easily accessed with this.users instead of this.$store.users
                }
            },
            ...mapState(['users']), // it will mix existing computed properties with mapState from 'vuex'
            ...mapGetters(['females', 'males']),
            // ...mapGetters({
            //     f: 'females', // this means, that we can access this.$store.getters.females with this.f
            //     m: 'males', // this means, that we can access this.$store.getters.males with this.m
            // }),
        },
        components: {
            UserItem,
        },
        created() {
            this.axios.get('http://localhost:3000/users')
            .then(({data}) => {
                this.$store.state.users = data;

                this.isLoading = false;
            });
        }
    }
</script>