<template>
    <tr>
        <td>{{ index + 1 }}</td>
        <td>
            <template v-if="editMode">
                <div class="form-group">
                    <input type="text" class="form-input" 
                    v-bind:value="user.name" 
                    v-on:change="update($event, 'name')" />
                </div>
            </template>
            <template v-else>
                {{ user.name }}
            </template>
        </td>
        <td>
            <template v-if="editMode">
                <input type="number" class="form-input"
                v-bind:value="user.age" 
                v-on:change.number="update($event, 'age')" />
            </template>
            <template v-else>
                {{ user.age }}
            </template>
        </td>
        <td>
            <router-link v-bind:to="{name: 'user', params: {id: user.id}}" class="btn btn-primary">
                <i class="icon icon-search"></i>
            </router-link>
        </td>
        <td>
            <router-link v-bind:to="{name: 'user-edit', params: {id: user.id}}" class="btn btn-primary">
                <i class="icon icon-edit"></i>
            </router-link>
        </td>
        <td>
            <button class="btn btn-error" v-bind:class="{'loading': isWaitingForDelete === true}" v-on:click="remove(user.id)">
                <i class="icon icon-delete"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    import {mapMutations, mapActions} from 'vuex';

    export default {
        name: "UserItem",
        props: ["user", "index"],
        data() {
            return {
                editMode: false,
                isWaitingForDelete: false,
            }
        },
        watch: {
            users() {
                this.isWaitingForDelete = false;
            },
        },
        methods: {
            ...mapActions(['updateUserAge', 'updateUserName']),
            // updateUserAge(event) {
            //     let newValue = event.target.value;

            //     this.$store.dispatch('updateUserAge', {
            //         userId: this.user.id,
            //         newValue,
            //     });
            // },
            // updateUserName(event) {
            //     let newValue = event.target.value;

            //     this.$store.dispatch('updateUserName', {
            //         userId: this.user.id,
            //         newValue,
            //     });
            // },
            update(e, type) {
                if (type === 'age') {
                    this.updateUserAge({
                        userId: this.user.id,
                        newValue: e.target.value,
                    });
                } else if (type === 'name') {
                    this.updateUserName({
                        userId: this.user.id,
                        newValue: e.target.value,
                    });
                }
            },
            remove(userId) {
                this.isWaitingForDelete = true;

                this.$store.dispatch('removeUser', {
                    userId
                });
            },
        }
    }
</script>