<template>
    <div>
        
        <h2>Sign in</h2>

        <form action="#" class="form-horizontal" v-on:submit.prevent="signIn">

            <div class="form-group">
                <div class="col-2">
                    <label class="form-label">Password</label>
                </div>
                <div class="col-3">
                    <input type="password" class="form-input" v-model="password">
                </div>
            </div>

            <div class="col-5">
                <button class="btn btn-primary float-right" v-bind:class="{'loading': isLoading === true}" v-bind:disabled="password === '' || isLoading === true">
                    Sign in
                </button>
            </div>

        </form>

    </div>
</template>

<script>
    export default {
        name: 'UserLogin',
        data() {
            return {
                password: '',
                isLoading: false,
            }
        },
        methods: {
            signIn() {
                this.isLoading = true;

                this.axios.post('http://localhost:3000/login', {password: this.password})
                    .then(({data}) => {
                        window.localStorage.setItem('token', data);

                        setTimeout(() => {
                            this.isLoading = false;

                            this.$router.push({name: 'home'});
                        }, 1500);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
        },
    }
</script>