<template>
    <div>
        <h2>Users details</h2>

        <h4>{{ userData.name }} ({{ userData.id }})</h4>
        <p>Age: {{ userData.age }}</p>
        <p>Sex: {{ userData.gender }}</p>

        <router-view></router-view>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "UserDetails",   
        props: ['id'],
        computed: {
            userData() {
                return this.user(Number(this.id));
            },
            ...mapGetters(['user']),   
        },
        methods: {
        }
    }
</script>

<style scoped>
    h2 {
        margin-bottom: 50px;
    }
</style>