<template>

    <div id="app">
        
        <div class="container grid-lg">

            <router-view name='header'></router-view>

        </div>

        <div class="container grid-lg">

            <transition name="slide" mode="out-in" appear>
                <router-view v-bind:key="$route.fullPath"></router-view>
            </transition>

        </div>

        <div class="container grid-lg">

            <footer>
                <p>Copyright &copy; {{ (new Date()). getFullYear() }}. </p>
            </footer>

        </div>

    </div>

</template>

<script>
    export default {
        name: 'App',
    }
</script>

<style>
    .slide-enter-active,
    .slide-leave-active {
        transition: transform 0.5s ease-out;
    }

    .slide-enter {
        transform: translateX(-100vw);
    }

    .slide-leave-to {
        transform: translateX(100vw);
    }
</style>
